@if( isProductsLoading$|async)
{ ....Loading }
{{isProductsLoaded$ | async}}
@if (isProductsLoaded$|async) {
<table>
  @for (product of products$ | async; track product) {
  <tr class="row" [class.active]="(selectedProductId$ | async) === product.id" (click)="select(product)">
    <td>{{ product.id }}</td>
    <td>{{ product.title }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.brand }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.category }}</td>
  </tr>
  }
</table>
}
